body {
    display: grid;
    background-color: #f2f2f2;
    max-width: 980px;
    margin: 0 auto;
}

main {
    display: grid;
    margin: 0 auto;
}

footer {
    text-align: center;
}

#slogan {
    font-size: 2.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-image: url(../img/light-installation.jpg);*/
    background-size: cover;
    background-position: top;
}

header {
    background-color: #000000;
    height: 60px;
    display: flex;
    justify-content: center;
}

nav {
    background-color: #000000;
    height: 45px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end
}

h1,h2, header {
    color: #800080;
}



a {
    text-decoration: none;
}

.navbar {
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

a.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#laters-works {
    display: ;
    background-color: #e0e0e0;
}

#our-clients {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #ebebeb;
}

#our-clients h2 {
    grid-column-start: 3;
}

#who-we-are {
    padding: 20px;
    background-color: #ff7878;
}

#contact-with-social-medias {
    font-size: 2rem;
}

#about-designing {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    text-align: left;
}

.about-designer-work {
    text-align: justify;
    padding: 10px;
}

.clients-photos {
    grid-row-start: 2;
}

#contact-with-social-medias {
    background-color: pink;
    padding: 30px;
}

footer {
    background-color: grey;
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
}

