body {
    display: grid;
    background-color: #f2f2f2;
    max-width: 980px;
    margin: 0 auto;
}

main {
    display: grid;
    margin: 0 auto;
}

#slogan {
    display: flex;
    height: 400px;
    background-image: url(../img/62635703-individuality-symbol-and-independent-thinker-concept-and-new-leadership-concept-or-individuality-as-.png);
    background-size: cover;
    background-position: top;
}

header {
    background-color: #563d7c;
    height: 60px;
    display: flex;
    justify-content: center;
}

/*nav {*/
/*    background-color: #7B1FA2;*/
/*    height: 45px;*/
/*    font-weight: bold;*/
/*    display: flex;*/
/*    justify-content: flex-end*/
/*}*/

.navbar {
    background-color: #7B1FA3;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #BDBDBD;
}

.bg {
    background-color: #7B1FA3;
}

a {
    color: #BDBDBD;
    text-decoration: none;
}

.work-photos img {
    width: 30%;
}

a.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#our-clients {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #ebebeb;
}

#our-clients h2 {
    font-size: 1rem; /*1 rem added to rewrite browser addin 2rem*/
    margin: 0 auto;
    grid-column-start: 3;
}

#who-we-are {
    color: #BDBDBD;
    padding: 20px;
    background-color: #7B1FA2;
}

#about-designing {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    text-align: left;
}

.about-designer-work {
    text-align: justify;
    padding: 10px;
}

.clients-photos {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0 auto;
    grid-row-start: 2;
}

#form {
    padding: 30px;
    margin: 35px 20px;
}

#contact-with-social-medias {
    font-size: 35px;
    color: #BDBDBD;
    background-color: #563d7c;
    padding: 30px;
}

#contact-icons {
    display: flex;
    justify-content: center;
}

.fab {
    margin: 0 10px;
}

footer {
    color: #BDBDBD;
    background-color: #563d7c;
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
}

#about-milena article img {
    width: 400px;
    height: 400px;
    border: 8px solid #b357b0;
    border-radius: 200px;
}

@media (max-width: 600px) {
    
#about-designing {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
        padding: 10px;
        text-align: center;
    }
    
    h1, h2, header {
        text-align: center;    
    }
    
    header {
        height: 103px;
    }
    
    #our-clients {
        display: flex;
        flex-direction: column;
        background-color: #ebebeb;
    }
    
    #our-clients {
        padding-top: 20px;
    }
    
    #form {
        margin:0 auto;
    }
}