body {
    color: #BDBDBD;
    font-size: 17px;
    display: grid;
    background-color: black;
    max-width: 980px;
    min-width: 200px;
    margin: 0 auto;
}

main {
    display: grid;
    margin: 0 auto;
}

#slogan {
    color: black;
    display: flex;
    height: 400px;
    background-image: url(../img/individuality-background.jpg);
    background-size: cover;
    background-position: top;
}

header {
    
    height: 60px;
    display: flex;
    justify-content: center;
}
 
 a:hover{
    text-decoration: none;
}
 
a {
    color: #BDBDBD;
    text-decoration: none;
}

.work-photos img {
    width: 30%;
}

#our-clients {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#our-clients h2 {
    font-size: 1rem; /*1 rem added to rewrite browser addin 2rem*/
    margin: 0 auto;
    grid-column-start: 3;
}

#who-we-are {
    color: #BDBDBD;
    padding: 20px 0 20px 0;
}

#about-designing {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px 0 10px 0;
    text-align: left;
}

.about-designer-work {
    text-align: justify;
    padding: 10px;
}

.clients-photos {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0 auto;
    grid-row-start: 2;
}

#form {
    padding: 30px 0 30px 0;
    margin: 35px 20px;
}

#contact-with-social-medias {
    font-size: 35px;
    color: #BDBDBD;
    padding: 30px 0 30px 0;
}

#contact-icons {
    display: flex;
    justify-content: center;
}

.fab {
    margin: 0 10px;
}

#laters-works {
    text-align: center;
}

#laters-works h2 {
    padding-bottom: 15px;
}

footer {
    color: #BDBDBD;
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
}

#about-milena {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
}

#about-milena img {
    width: 90vw;
    height: 90vw;
    border: 8px solid black;
    border-radius: 5000px;
    max-width: 400px;
    max-height: 400px;
}

#projects h2 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

textarea, input {
    background-color: #bdbdbd;
    border: 0px;
}

textarea {
    width: 500px;
    height: 250px;
}

@media (min-width: 299px){
    
}

@media (max-width: 600px) {
    
    #about-designing {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
        text-align: center;
    }
    
    h1, h2, header {
        text-align: center;    
    }
    
    header {
        height: 103px;
    }
    
    #our-clients {
        display: flex;
        flex-direction: column;
        background-color: black;
    }
    
    #our-clients {
        padding-top: 20px;
    }
    
    #form {
        margin:0 auto;
    }
    
    textarea {
        width: 200px;
        height: 250px;
    }
}